<h2>Results</h2>
<table><tbody>
<tr>
  <th>Add to Compare</th>
  <th>#</th>
  <th>Name</th>
  <th>Hash</th>
  <th>Node Count</th>
  <th>Edge Count</th>
  <th>Upload Date</th>
</tr>
{% set i = 0 %}
{% set start = request.args.get("start") | int %}
<script type="text/javascript">
var start = parseInt({{ start }});
</script>
{% set count = request.args.get("results") | count %}
{% for nHash in networkList %}
  {% set i = i + 1 %}
  {% set network = dbQuery.getNetwork(nHash) %}
  <tr>
    <td class="ta-center"><span class="compare-add compAdd" id="comp-add-{{ network.hash }}">+</span></td>
    <td>{{ i }}</td>
    <td><a href="{{ conf.ROOT_ADDRESS }}info/{{ network.hash }}">{{ network.name }}</a></td>
    <td><code><a href="{{ conf.ROOT_ADDRESS }}info/{{ network.hash }}">{{ network.hash }}</a></code></span></td>
    <td>{{ network["calculations"]["nodeCount"]["data"]["res"] | commas }}</td>
    <td>{{ network["calculations"]["edgeCount"]["data"]["res"] | commas }}</td>
    <td><b>TODO</b></td>
  </tr>
{% endfor %}
</tbody></table>
<div class="ta-center" id="browserNavigation">
{% if start > 0 %}
  <span class="fake-link" id="lastArrow"><</span>
{% endif %}
{% if networkList | len == count %}
  <span class="fake-link" id="nextArrow">></span>
{% endif %}
<script type="text/javascript">
  // Set up click listeners for navigation arrors + comparison add
  $("#nextArrow").click(function(){
    showResults(0, 0, 0, start + 10);
  });

  $("#lastArrow").click(function(){
    showResults(0, 0, 0, start - 10);
  });

  $(".compAdd").click(function(){
    var hash = this.attributes[1].value.split("add-")[1];
    var symbol = compareAdd(hash);
    $("#comp-add-" + hash).html(symbol);
  });

  // Swap signs for already comparison-saved networks
  var cookieValue = Cookies.get("compare");
  if(cookieValue){
    var split = cookieValue.split(",");
    for(var i=0;i<split.length;i++){
      $("#comp-add-" + split[i]).html("-");
    }
  }
</script>
</div>
