#footer {
  color: #9C9C9C;
}

th {
  font-weight: bold !important;
}

.bottomBorder {
  border-bottom: 1px solid black;
}

.borderTop {
  border-top: 1px solid black;
}

tbody.striped tr:nth-child(odd) {
   background-color: #cdcdcd;
}

.fs-italic {
  font-style: italic
}
