#footer{
  color: #9C9C9C;
}

th{
  font-weight: bold !important;
}

.bottomBorder{
  border-bottom: 1px solid black;
}

.borderTop{
  border-top: 1px solid black;
}

tbody.striped tr:nth-child(odd){
   background-color: #cdcdcd;
}

.fs-italic{
  font-style: italic
}

.fake-link{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.compare-add{
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

/* When hovered over, displays tooltip-text */
.tooltip .tooltip-text{
  font-size: 10px;
  visibility: hidden;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.fullwidth {
  width: 100%;
}

.normalSlider {
  -webkit-appearance: slider-horizontal !important;
  float: right;
  width: 100%;
}

input, select, option {
  border: 1px solid black;
}

label {
  display: inline-block;
  text-align: right;
}

select {
  display: inline-block;
}
