{% extends "layout.html" %}
{% block head %}
<title>Network Browser</title>
{% endblock %}

{% block body %}
<div class="ta-center">
<h1>Network Browser</h1>
<p>TODO: Settings for search terms, sorting order, etc.</p>
<h2>Network List</h2>
<table>
<tr>
  <th>#</th>
  <th>Name</th>
  <th>Hash</th>
  <th>Node Count</th>
  <th>Edge Count</th>
  <th>Upload Date</th>
</tr>
{% set i = 0 %}
{% for nHash in networkList %}
{% set i = i + 1 %}
{% set network = dbQuery.getNetwork(nHash) %}
<tr>
  <td>{{ i }}</td>
  <td>{{ network.name }}</td>
  <td><code>{{ network.hash }}</code></span></td>
  <td>{{ networkUtils.getCalcByName(network["calculations"], "nodeCount")["data"]["res"] }}</td>
  <td>{{ networkUtils.getCalcByName(network["calculations"], "edgeCount")["data"]["res"] }}</td>
  <td><b>TODO</b></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
