{% extends "layout.html" %}
{% block head %}
<title>Network Database</title>
{% endblock %}

{% block body %}
<h1>Network Database Overview</h1>
<p>This database holds networks and network statistics.  It has the purpose of providing a centralized repository and data source for researchers to access a wide variety of network data.  </p>
<!--
Wow, it seems like you know your way around a web browser!

If you want to contribute to/complain about/try to break the site, check out the source code on github: https://github.com/Ameobea/network_database/issues
-->
{% endblock %}
