{# Network Info Page #}
{# Contains all of the calculations and attributes stored for the network #}
{# As well as histograms for the non-numerical data. #}

{% extends "layout.html" %}
{% block head %}
<title>Network Information</title>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../sources/highcharts-histogram/highcharts-histogram.js"></script>
<script src="../sources/compareAdd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var cookieValue = Cookies.get("compare");
  if(cookieValue){
    var split = cookieValue.split(",");
    for(var i=0;i<split.length;i++){
      $("#comp-add-" + split[i]).html("-");
    }
  }

  $(".compAdd").click(function(){
    var hash = this.attributes[1].value.split("add-")[1];
    var symbol = compareAdd(hash);
    $("#comp-add-" + hash).html(symbol);
  });
});
</script>
{% endblock %}

{% set network = dbQuery.getNetwork(networkHash) %}

{% block body %}
<h1>Network Information for <span class="fw-bold">{{ network.name }}</span></h1>
<span class="compare-add compAdd fs-large" id="comp-add-{{ networkHash }}">+</span> Click the symbol to the left to add or remove this network from the <a href="../../compare">comparison table</a>.
{% set calcDict = network["calculations"] %}
<div class="borderTop">
<span class="fw-bold">Description: </span>
{% if network.description %}
  <p>{{ network.description }}</p>
{% else %}
  <p>No description given for this network.</p>
{% endif %}
</div>
<div class="bottomBorder borderTop">
<span class="fw-bold">Tags: </span>
{% if network.tags %}
  <p>
  {% for tag in network.tags %}
    <a href="../tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
  </p>
{% else %}
  <p><span class="fs-italic">No tags for this network.</span></p>
{% endif %}
</div>
<h2>Data Table</h2>
<table><tbody class="striped">
<tr><th>Name</th><th>Result</th></tr>
{% if calcDict["nodeCount"]["data"] is validCalc %}
<tr><td>Nodes</td><td>{{ calcDict["nodeCount"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["edgeCount"]["data"] is validCalc %}
<tr><td>Edges</td><td>{{ calcDict["edgeCount"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["degree"]["data"] is validCalc %}
<tr><td>Degree Histogram</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["degree"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#degreeHistogram').highcharts({
    title: {text: 'Degree Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="degreeHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["density"]["data"] is validCalc %}
<tr><td>Density</td><td>{{ calcDict["density"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["isDirected"]["data"] is validCalc %}
<tr><td>Directed</td><td>{{ calcDict["isDirected"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["isChordal"]["data"] is validCalc %}
<tr><td>Chordal</td><td>{{ calcDict["isChordal"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["radius"]["data"] is validCalc %}
<tr><td>Radius</td><td>{{ calcDict["radius"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["center"]["data"] is validCalc %}
<tr><td>Center</td><td>{{ calcDict["center"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["transitivity"]["data"] is validCalc %}
<tr><td>Transitivity</td><td>{{ calcDict["transitivity"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["isConnected"]["data"] is validCalc %}
<tr><td>Connected</td><td>{{ calcDict["isConnected"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["averageNeighborDegree"]["data"] is validCalc %}
<tr><td>Average Neighbor Degree</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["averageNeighborDegree"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#averageNeighborDegreeHistogram').highcharts({
    title: {text: 'Average Neighbor Degree Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="averageNeighborDegreeHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["averageClustering"]["data"] is validCalc %}
<tr><td>Average Clustering</td><td>{{ calcDict["averageClustering"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["trianglesPerNode"]["data"] is validCalc %}
<tr><td>Triangles Per Node</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["trianglesPerNode"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#trianglesPerNodeHistogram').highcharts({
    title: {text: 'Triangles per Node Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="trianglesPerNodeHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["closenessCentrality"]["data"] is validCalc %}
<tr><td>Closeness Centrality</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["closenessCentrality"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#closenessCentralityHistogram').highcharts({
    title: {text: 'Closeness Centrality Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="closenessCentralityHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["eigenvectorCentrality"]["data"] is validCalc %}
<tr><td>Eigenvector Centrality</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["eigenvectorCentrality"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#eigenvectorHistogram').highcharts({
    title: {text: 'Eigenvector Centrality Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="eigenvectorHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["betweennessCentrality"]["data"] is validCalc %}
<tr><td>Betweenness Centrality</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["betweennessCentrality"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#betweennessHistogram').highcharts({
    title: {text: 'Betweenness Centrality Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="betweennessHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["cliqueNumber"]["data"] is validCalc %}
<tr><td>Cliques</td><td>{{ calcDict["cliqueNumber"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["averageNodeConnectivity"]["data"] is validCalc %}
<tr><td>Average Node Connectivity</td><td>{{ calcDict["averageNodeConnectivity"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["averageDegreeConnectivity"]["data"] is validCalc %}
<tr><td>Average Degree Connectivity</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["averageDegreeConnectivity"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#averageDegreeConnectivityHistogram').highcharts({
    title: {text: 'Average Degree Connectivity Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="averageDegreeConnectivityHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["numberConnectedComponents"]["data"] is validCalc %}
<tr><td>Distinct Connected Components</td><td>{{ calcDict["numberConnectedComponents"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["degreeAssortativityCoefficient"]["data"] is validCalc %}
<tr><td>Degree Assortativity Coefficient</td><td>{{ calcDict["degreeAssortativityCoefficient"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["isEulerian"]["data"] is validCalc %}
<tr><td>Eulerian</td><td>{{ calcDict["isEulerian"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["triadicCensus"]["data"] is validCalc %}
<tr><td>Triadic Census</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["triadicCensus"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#triadicCensusHistogram').highcharts({
    title: {text: 'Triadic Census Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="triadicCensusHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["dispersion"]["data"] is validCalc %}
<tr><td>Dispersion</td>
<td>
<!-- <script type="text/javascript">
$(document).ready(function(){
  var data = [
  {% for elem in calcDict["dispersion"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}
  ];

  $('#dispersionHistogram').highcharts({
    title: {text: 'Dispersion Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="dispersionHistogram"></div> -->
TODO
</td></tr>
{% endif %}
{% if calcDict["isBipartite"]["data"] is validCalc %}
<tr><td>Bipartite</td><td>{{ calcDict["isBipartite"]["data"]["res"] | commas }}</td></tr>
{% endif %}
{% if calcDict["eccentricity"]["data"] is validCalc %}
<tr><td>Eccentricity</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [{% for elem in calcDict["eccentricity"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}];

  $('#eccentricityHistogram').highcharts({
    title: {text: 'Eccentricity Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="eccentricityHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["richClubCoefficient"]["data"] is validCalc %}
<tr><td>Rich Club Coefficient</td>
<td>
<script type="text/javascript">
$(document).ready(function(){
  var data = [{% for elem in calcDict["richClubCoefficient"]["data"]["res"].iteritems() %}{{ elem[1] }},{% endfor %}];

  $('#richClubCoefficientHistogram').highcharts({
    title: {text: 'Rich Club Coefficient Distibution'},
    chart: {type: 'histogram'},
    series: [{data: data}],
  });
});
</script>
<div id="richClubCoefficientHistogram"></div>
</td></tr>
{% endif %}
{% if calcDict["flowHierarchy"]["data"] is validCalc %}
<tr><td>Flow Hierarchy</td><td>{{ calcDict["flowHierarchy"]["data"]["res"] | commas }}</td></tr>
{% endif %}
</tbody></table>
{% endblock %}
