<!doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://ameo.link/u/27d.css">
<link rel="stylesheet" href="{{ conf.ROOT_ADDRESS }}sources/main.css">
<link type="text/plain" rel="author" href="{{ conf.ROOT_ADDRESS }}humans.txt" />
{% block head %}{% endblock %}
</head>
<body>
{% include "header.html" %}
<section class="wrapper-large">
{% block body %}{% endblock %}
</section>
{% include "footer.html" %}
</body>
</html>
