{% extends "layout.html" %}
{% block head %}
<title>Network Screener</title>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="../sources/highcharts-histogram/highcharts-histogram.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>
<script src="../sources/compareAdd.js"></script>
<script src="../sources/screener.js"></script>
<script type="text/javascript">
var distrVals = {};
{% for attrName, attrData in distributions.iteritems() %}
  distrVals["{{ attrName }}"] = {min: {{ attrData | min }}, max: {{ attrData | max }} };
{% endfor %}
</script>
{% endblock %}

{% block body %}
<h1>Network Screener</h1>
<p>The network screener allows you to filter networks in the database over multiple criteria.  </p>
<section class="grid">
  <div class="slider">
    {{ dHistogram("nodeCount", "Node Count", distributions) | safe }}
    {{ sliderGen("nodeCount", distributions) | safe }}
  </div>
  <div class="slider">
    {{ dHistogram("edgeCount", "Edge Count", distributions) | safe }}
    {{ sliderGen("edgeCount", distributions) | safe }}
  </div>
  <div class="slider">
    {{ dHistogram("density", "Density", distributions) | safe }}
    {{ sliderGen("density", distributions) | safe }}
    </div>
  </div>
  <div class="slider">
    {{ dHistogram("transitivity", "Transitivity", distributions) | safe }}
    {{ sliderGen("transitivity", distributions) | safe }}
  </div>
</section>
<section class="grid">
  <div class="slider">
    {{ dHistogram("radius", "Radius", distributions) | safe }}
    {{ sliderGen("radius", distributions) | safe }}
  </div>
  <div class="slider">
    {{ dHistogram("averageClustering", "Average Clustering", distributions) | safe }}
    {{ sliderGen("averageClustering", distributions) | safe }}
  </div>
  <div class="slider">
    {{ dHistogram("numberConnectedComponents", "Distinct Connected Components", distributions) | safe }}
    {{ sliderGen("numberConnectedComponents", distributions) | safe }}
    </div>
  </div>
  <div class="slider">
    {{ dHistogram("degreeAssortativityCoefficient", "Degree Assortativity Coefficient", distributions) | safe }}
    {{ sliderGen("degreeAssortativityCoefficient", distributions) | safe }}
  </div>
</section>
<section class="grid">
  <div class="boolSelect">
    {{ dBoolgram("isDirected", "Directed", distributions) | safe }}
    {{ boolGen("isDirected", distributions) | safe }}
  </div>
  <div class="boolSelect">
    {{ dBoolgram("isChordal", "Chordal", distributions) | safe }}
    {{ boolGen("isChordal", distributions) | safe }}
  </div>
  <div class="boolSelect">
    {{ dBoolgram("isConnected", "Connected", distributions) | safe }}
    {{ boolGen("isConnected", distributions) | safe }}
  </div>
  <div class="boolSelect">
    {{ dBoolgram("isEulerian", "Eulerian", distributions) | safe }}
    {{ boolGen("isEulerian", distributions) | safe }}
  </div>
  <div class="boolSelect">
    {{ dBoolgram("isBipartite", "Bipartite", distributions) | safe }}
    {{ boolGen("isBipartite", distributions) | safe }}
  </div>
</section>
<button id="submitButton">Submit</button>
<div id="results"></div>
{% endblock %}
